#parent{
    width: 90%;
    display: grid;
    margin: auto;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    margin-bottom: 30px;
    margin-top: 100px;
}
h1{
    text-align: center;
    color: blue;
}

#child{
    border: 1px solid blue;
    border-radius: 5px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    overflow: hidden;
    position: relative;
}
#new{
    font-weight: bold;
    width: 50px;
    text-align: center;
    padding: 2px 0px;
    background: red;
    color: white;
    position: absolute;
    top: 0px;
    right: 0px;
    animation: blink 1s infinite;
}
@keyframes blink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}
#child:hover{
    box-shadow: rgba(0, 0, 0, 0.692) 0px 3px 8px;
}
#child>button{
    margin-right: 5px;
    padding: 7px 11px;
    margin-bottom: 5px;
    border: none;
    font-weight: bold;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
#child>img{
    width: 100%;
    display: block;
    margin: auto;
    transition: transform .5s ease;
    filter: saturate(2);
}
#child>img:hover{
    transform: scale(1.23);
}
#outstock{
    animation: move 1s infinite;
}
@keyframes move{
    0%{
        transform: rotateZ(3deg);
    }
    50%{
        transform: rotateZ(-3deg);
    }
    100%{
        transform: rotateZ(3deg);
    }
}